#topLeft{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 30px;
    animation-name: movespin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
#topRight{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    right: 30px;
}
#bottomleft{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
#bottomright{
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
#butt {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    animation-name: movebutt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#center {
    background-color: aqua;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-name: moveround;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
body{
    animation-name: changecolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
@keyframes changecolor{
    0%{
        background-color: yellowgreen;
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: black;
    }
    75% {
        background-color: brown;
    }
    100% {
background-color: greenyellow;    }
}
@keyframes moveround{
0%{
    background-color: aqua;
    transform: translateX(-50%) translateY(-50%);
}
25%{
    background-color: azure;
    transform: translateX(100%) translateY(-100%) rotate(90deg);

}
50%{
background-color: orange;
transform: translateX(20%) translateY(40%) rotate(180deg);
}
75%{
    background-color: blue;
    transform: translateX(-20%) translateY(-40%) rotate(180deg);


}
100%{
    background-color: black;
    transform: translateX(20%) translateY(40%) rotate(180deg);

}
}
@keyframes movespin{
    0%{
        top: 30px;
        left: 30px;
    }
    25%{
        top: 30px;
        left:calc(100% - 130px);
    }
    50%{
top:calc(100% - 130px);
left:calc(100% - 130px);
}
    75%{
        top:calc(100% - 130px);
        left: 30px;
    }
    100%{
        top: 30px;
        left: 30px;
    }
}
@keyframes movebutt{
    0%{
        top: 30px;
        left: 30px;
    }
    25%{
        top: 30px;
        left:calc(100% - 130px);
    }
    50%{
top:calc(100% - 130px);
left:calc(100% - 130px);
}
    75%{
        top:calc(100% - 130px);
        left: 30px;
    }
    100%{
        top: 30px;
        left: 30px;
    }
}

 
